@import url(../fonts/Manrope-Bold.ttf);
@import url(../fonts/Manrope-ExtraBold.ttf);
@import url(../fonts/Manrope-ExtraLight.ttf);
@import url(../fonts/Manrope-Light.ttf);
@import url(../fonts/Manrope-Medium.ttf);
@import url(../fonts/Manrope-Regular.ttf);
@import url(../fonts/Manrope-SemiBold.ttf);

@font-face {
    font-family: 'LTSuperior';
    src: url('../fonts/LTSuperior-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LTSuperior';
    src: url('../fonts/LTSuperior-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

// Custom.scss

//Colors
$primary: #010C80;
$secondary: #3E5CDB;
$tercero: #394b99;
$cuarto: #6AA4EE;
$quinto: #CFCFEA;
$corporateNavyBlue900: #19263F;
$corporateNavyBlue800: #303C52;
$corporateNavyBlue700: #475165;
$corporateNavyBlue600: #5E6778;
$corporateNavyBlue500: #757C8B;
$corporateNavyBlue400: #8C929F;
$corporateNavyBlue300: #A3A9B2;
$corporateNavyBlue200: #BABEC5;
$corporateNavyBlue100: #D1D4D9;
$corporateNavyBlue50: #E8E9EC;
$corporateOrange900: #F56800;
$corporateOrange800: #F6771A;
$corporateOrange700: #F78633;
$corporateOrange600: #F8954D;
$corporateOrange500: #F9A466;
$corporateOrange400: #FAB380;
$corporateOrange300: #FBC39A;
$corporateOrange200: #FCD1B3;
$corporateOrange100: #FDE1CD;
$corporateOrange50: #FEF0E6;
$corporateGray900: #9C9B9B;
$corporateGray800: #A4A2A2;
$corporateGray700: #AEADAD;
$corporateGray600: #B8B7B7;
$corporateGray500: #C2C1C1;
$corporateGray400: #CDCBCB;
$corporateGray300: #D7D5D5;
$corporateGray200: #E1E0E0;
$corporateGray100: #EBEAEA;
$corporateGray50: #F5F5F5;
$corporateYellow900: #F4A20A;
$corporateYellow800: #F5AB22;
$corporateYellow700: #F6B43B;
$corporateYellow600: #F7BE53;
$corporateYellow500: #F8C76C;
$corporateYellow400: #F9D084;
$corporateYellow300: #FADA9D;
$corporateYellow200: #FADA9D;
$corporateYellow100: #FCECCE;
$corporateYellow50: #FDF5E6;
$error: #D32F2F;
$grayBorder: #CED4DA;
$white: #FFFFFF;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tercero": $tercero,
    "cuarto": $cuarto,
    "quinto": $quinto,
    "corporateNavyBlue800": $corporateNavyBlue800,
    "corporateNavyBlue900": $corporateNavyBlue900,
    "corporateNavyBlue700": $corporateNavyBlue700,
    "corporateNavyBlue600": $corporateNavyBlue600,
    "corporateNavyBlue500": $corporateNavyBlue500,
    "corporateNavyBlue400": $corporateNavyBlue400,
    "corporateNavyBlue300": $corporateNavyBlue300,
    "corporateNavyBlue200": $corporateNavyBlue200,
    "corporateNavyBlue100": $corporateNavyBlue100,
    "corporateNavyBlue50": $corporateNavyBlue50,
    "corporateOrange900": $corporateOrange900,
    "corporateOrange800": $corporateOrange800,
    "corporateOrange700": $corporateOrange700,
    "corporateOrange600": $corporateOrange600,
    "corporateOrange500": $corporateOrange500,
    "corporateOrange400": $corporateOrange400,
    "corporateOrange300": $corporateOrange300,
    "corporateOrange200": $corporateOrange200,
    "corporateOrange100": $corporateOrange100,
    "corporateOrange50": $corporateOrange50,
    "corporateGray900": $corporateGray900,
    "corporateGray800": $corporateGray800,
    "corporateGray700": $corporateGray700,
    "corporateGray600": $corporateGray600,
    "corporateGray500": $corporateGray500,
    "corporateGray400": $corporateGray400,
    "corporateGray300": $corporateGray300,
    "corporateGray200": $corporateGray200,
    "corporateGray100": $corporateGray100,
    "corporateGray50": $corporateGray50,
    "corporateYellow900": $corporateYellow900,
    "corporateYellow800": $corporateYellow800,
    "corporateYellow700": $corporateYellow700,
    "corporateYellow600": $corporateYellow600,
    "corporateYellow500": $corporateYellow500,
    "corporateYellow400": $corporateYellow400,
    "corporateYellow300": $corporateYellow300,
    "corporateYellow200": $corporateYellow200,
    "corporateYellow100": $corporateYellow100,
    "corporateYellow50": $corporateYellow50,
    "error": $error,
    "grayBorder": $grayBorder,
    "white": $white,
);


.orangeShadow:hover {
    box-shadow: 0px 2px 4px rgba(246, 135, 31, 0.13), 0px 12px 24px rgba(246, 135, 31, 0.33);
}



// Ejemplo de uso
.fnSuperiorRegular {
    font-family: 'LTSuperior', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
}

.fnSuperiorRegularCard {
    font-family: 'LTSuperior', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    /* color principal de la letra */
    text-shadow:
        2px 0 0 black,
        -2px 0 0 black,
        0 2px 0 black,
        0 -2px 0 black,
        1px 2px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
}



.fnSuperiorRegularTitle {
    font-family: 'LTSuperior', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
}

.fnSuperiorRegularTitle2 {
    font-family: 'LTSuperior', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
}


.fnSuperiorBold {
    font-family: 'LTSuperior', sans-serif;
    font-weight: 700;
}

//Titles
.fnTexto_Salsa {
    font-family: 'Salsa-Regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.fnTexto_Ravioli {
    font-family: 'VanillaRavioli_Demo', ;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.fnTexto_Bold_Encabezado_005 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 15px;
}

.fnTexto_Bold_Encabezado_003 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.fnTexto_Bold_Encabezado_004 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.fnTexto_ExtraBold_Encabezados_001 {
    font-family: 'Manrope-ExtraBold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
}

.fnTexto_Regular_Encabezado {
    font-family: 'Manrope-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}

.fnTexto_Bold_Encabezado_006 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
}

.fnTexto_Bold_Encabezado_002 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 20px;
}

.fnTexto_Medium_Encabezado_004 {
    font-family: 'Manrope-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 20px;
}

.fnTexto_Bold_Encabezado_007 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}

.fnTexto_Extrabold_Encabezado_002 {
    font-family: 'Manrope-ExtraBold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}

.fnTexto_Bold_Encabezado_001 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
}

.fnTexto_Bold_Gigante_001 {
    font-family: 'Manrope-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 131px;
}

//Texts
.fnTexto_Medium_Cuerpo_003 {
    font-family: 'Manrope-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
}

.fnTexto_Medium_Cuerpo_002 {
    font-family: 'Manrope-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
}

.fnTexto_Light_Dinamico_001 {
    font-family: 'Manrope-Light', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 17px;
}

.fnTexto_Light_Dinamico_004 {
    font-family: 'Manrope-Light', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 15px;
}

.fnTexto_Light_Dinamico_003 {
    font-family: 'Manrope-Light', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
}

.fnTexto_Medium_Cuerpo_004 {
    font-family: 'Manrope-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.fnTexto_SemiBold_Dinamico_001 {
    font-family: 'Manrope-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 20px;
}

.fnTexto_Light_Dinamico_002 {
    font-family: 'Manrope-Light', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 40px;
}

.fnTexto_Medium_Cuerpo_001 {
    font-family: 'Manrope-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
}

// Add custom code before this

$form-select-color: $corporateGray900;
$form-select-indicator-color: #ACACAC;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.btn-outline-grayBorder:hover {
    background-color: white !important;
}

.btn-outline-grayBorder:active {
    background-color: white !important;
}

.btn-outline-grayBorder:visited {
    background-color: white !important;
}

$carousel-control-color: white; //$primary;
$carousel-indicator-width: 6px;
$carousel-indicator-height: 6px;
$carousel-indicator-opacity: 1;
$carousel-indicator-active-bg: $corporateGray200;

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
}

@import "../bootstrap/scss/bootstrap.scss";