{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}


<div class="container-fluid" style="margin-bottom: 250px;">
    <div class="row position-relative">
        <div class="col-12">
            <div class="row">
                <img src="{% static 'img/drAlejnadro.jpg' %}" width="100%" height="600px">
            </div>
            <div class="position-absolute top-100 start-50 translate-middle">
                <div class="row shadow-lg">
                    <!-- Agregamos la clase "rounded" para aplicar border-radius -->
                    <div class="col-6 p-0">
                        <img src="https://imgs.search.brave.com/BvZbYlPsdFLRmmHue5UwNvXzP-yROOn-tZkVfCJfADw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXM0LmFscGhhY29k/ZXJzLmNvbS8yMDYv/MjA2NTguanBn"
                            alt="" class="w-100 h-100">
                    </div>
                    <div class="col-6 p-0 bg-white">
                        <div class="row p-4 justify-content-center">
                            <div class="col-12 text-center">
                                DR Audiffred
                            </div>
                            <div class="col-12">
                                951548118574
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-cuarto text-white">Ver perfil completo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 px-4">
            <div class="row shadow-lg">
                <!-- Agregamos la clase "rounded" para aplicar border-radius -->
                <div class="col-6 p-0">
                    <img src="https://imgs.search.brave.com/BvZbYlPsdFLRmmHue5UwNvXzP-yROOn-tZkVfCJfADw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXM0LmFscGhhY29k/ZXJzLmNvbS8yMDYv/MjA2NTguanBn"
                        width="300px" height="300px">
                </div>
                <div class="col-6 p-0 bg-white" style="border-bottom-right-radius: 30px;border-top-right-radius: 30px;">
                    <div class="row p-4 justify-content-center">
                        <div class="col-12 text-center">
                            DR Audiffred
                        </div>
                        <div class="col-12">
                            951548118574
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-cuarto text-white">Ver perfil completo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'index/Blog.html'%}

{% endblock %}