{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row position-relative">
        <div class="col-12">
            <div class="row">
                <div class="col-12 bg-secondary" style="height: 300px;">
                    asd
                </div>
            </div>
            <div class="position-absolute top-100 start-50 translate-middle">
                <div class="row shadow-lg" style="width: 1000px;border-radius: 30px;">
                    <!-- Agregamos la clase "rounded" para aplicar border-radius -->
                    <div class="col-6 p-0">
                        <img src="https://imgs.search.brave.com/BvZbYlPsdFLRmmHue5UwNvXzP-yROOn-tZkVfCJfADw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXM0LmFscGhhY29k/ZXJzLmNvbS8yMDYv/MjA2NTguanBn"
                            alt="" class="w-100 h-100"
                            style="border-top-left-radius: 30px;border-bottom-left-radius: 30px">
                    </div>
                    <div class="col-6 p-0 bg-white"
                        style="border-bottom-right-radius: 30px;border-top-right-radius: 30px;">
                        <div class="row p-4 justify-content-center">
                            <div class="col-12 text-center">
                                DR Audiffred
                            </div>
                            <div class="col-12">
                                951548118574
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-cuarto text-white">Ver perfil completo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}