{% extends 'layout/layout.html' %}
{% load static %}
{% block body %}

<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="container">
    <div class="row">
        <div class="text-center my-4">
            <h1 class="fnSuperiorRegularTitle2 text-tercero">Conoce nuestros servicios</h1>
        </div>

        {% for ser in servicios %}
        <div class="col-md-6 col-12 px-3">
            <div class="row">
                <div class="card mb-3 p-0 my-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 col-12">
                            <img src="{{ ser.image1.url }}" class="img-fluid rounded-start w-100 h-100"
                                alt="{{ ser.name }}">
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="card-body">
                                <h5 class="card-title fnSuperiorRegularCard">{{ ser.name }}</h5>
                                <p class="card-text fnSuperiorRegular text-truncate">{{ ser.descripction }}</p>
                                <a href="/"
                                    class="btn text-decoration-none rounded rounded-3 p-2 bg-primary text-white">Ver
                                    más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}