{% load static %}
<style>
    .nav-custom {
        ul.navbar-nav {
            display: flex;
            align-items: center;

            li.nav-item {
                list-style: none;
                position: relative;

                a.nav-link {
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    margin: 0 8px;
                    padding: 8px 16px;
                    text-decoration: none;
                    color: #fff;
                    font-family: 'LTSuperior', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    transition: 0.4s;
                    z-index: 1;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: 0.3s;
                        opacity: 0;
                    }

                    &::before {
                        top: 0;
                        border-top: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: scaleY(2);
                    }

                    &::after {
                        top: 2px;
                        background-color: #fff;
                        transform: scale(0);
                        z-index: -1;
                    }

                    &:hover {
                        color: #010C80;

                        &::before {
                            transform: scaleY(1);
                            opacity: 1;
                        }

                        &::after {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
</style>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary nav-custom">
    <div class="container my-3">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo de la clínica" width="50">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link fnSuperiorRegular" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular" href="#">Médicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular" href="{% url 'Index:serviciosPage' %}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fnSuperiorRegular" href="{% url 'Index:contactPage' %}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>